<div class="container">

  <div>
    <h1>Volunteer Webpage</h1>
    <br>
    <br>

    <%if @volunteers != []%>
    <table class="table">
      <tr>
        <td class='title'><strong> Volunteers </strong></td>
        <td class='title'><strong> Assigned To A Project?</strong></td>
      </tr>
      <% @volunteers.each do |volunteer| %>
      <tr>
        <td><%= volunteer.name %></td>
        <%if volunteer.project_id != 0%>
        <td class="volunteers">Yes</td>
        <% else %>
        <td class="no">No</td>
        <% end %>
          <% end %>
          <% else %>
          <p>No volunteers entered yet</p>
          <% end %>
      </tr>
    </table>

  </div>
  <br>
  <br>
  <form class="container form-group button" action="/volunteers" method="post" name="volunteer">
    <label id="volunteername" name="volunteername" type = "text">Enter volunteer</label>
    <input type="text" name="volunteername">
    <button  type="submit" class="btn btn-info"name="button">Add A volunteer </button>
  </form>
  <br>
  <br>
  <form class="container form-group button" action="/volunteers/update" method="update" name="volunteer">
    <select id="volunteer_update" name="volunteer_update">
     <%if @volunteers != []%>
      <% @volunteers.each do |volunteer| %>
       <option value = "<%= volunteer.id %>" > <%= volunteer.name %> </option>
       <% end %>
       <% else %>
       <option value="" disabled selected>no volunteer yet</option>
       <% end %>
     </select>
     <label id="renamevolunteer" name="renamevolunteer" type = "text">Rename volunteer Title</label>
     <input type="text" name="renamevolunteer">
    <button type="submit" class="btn btn-info"name="button">Update A volunteer</button>
  </form>
  <br>
  <br>

  <form class="container form-group button" action="/volunteers/delete" method="delete" name="volunteer">
    <select id="volunteer_delete" name="volunteer_delete">
     <%if @volunteer != []%>
      <% @volunteers.each do |volunteer| %>
       <option value = "<%= volunteer.id %>" > <%= volunteer.name %> </option>
       <% end %>
       <% else %>
       <option value="" disabled selected>no volunteer yet</option>
       <% end %>
     </select>
    <button  type="submit" class="btn btn-info"name="button">Delete A volunteer</button>
  </form>
  <br>
  <br>

  <form class="container" action="/volunteers/projectassign" method="get" name="volunteer_assign">
    <h2>assign volunteer</h2>

    <select id="volunteer_assign" name="volunteer_assign">
     <%if @volunteer != []%>
      <% @volunteers.each do |volunteer| %>
       <option value = "<%= volunteer.id %>" > <%= volunteer.name %> </option>
       <% end %>
       <% else %>
       <option value="" disabled selected>no volunteer yet</option>
       <% end %>
     </select>

     <h2>To The Project</h2>

     <select id="project_assign" name="project_assign">
      <%if @projects != []%>
       <% @projects.each do |project| %>
        <option value = "<%= project.id %>" > <%= project.title %> </option>
        <% end %>
        <% else %>
        <option value="" disabled selected>no projects yet</option>
        <% end %>
      </select>


    <button  type="submit" class="btn btn-info"name="button">Add volunteer to Project</button>
  </form>

  <br>
  <br>

  <button class="container" id="homepage" type="button" name="button">
    <a href="/">Return Home</a>
  </button>
</div>
