<div class="container">

  <div class="table">
    <h1>Volunteer Page</h1>
    <br>
    <br>
    <%if @volunteers != []%>
    <table class="table">
      <tr>
        <td class='title'>
          <font> <strong> volunteers </strong></font>
        </td>
      </tr>
      <% @volunteers.each do |volunteer| %>

      <tr>
        <td>
          <font><%= volunteer.name %> --- <%= volunteer.project_id%>  </font>
          <% end %>
          <% else %>
           <h2>no volunteers yet</h2>
          <% end %>
        </td>
        <td>PROJECT ID
        </td>
      </tr>

    </table>


  </div>
  <br>
  <br>

  <form class="container form-group button" action="/volunteers" method="post" name="volunteer">
    <label id="volunteername" name="volunteername" type = "text">Enter volunteer</label>
    <input type="text" name="projectname">
    <button  type="submit" class="btn btn-info"name="button">Add A volunteer </button>
  </form>
  <br>
  <br>

  <form class="container form-group button" action="/volunteers/update" method="update" name="volunteer">
    <select id="volunteer_update" name="volunteer_update">
     <%if @volunteers != []%>
      <% @volunteers.each do |volunteer| %>
       <option value = "<%= volunteer.id %>" > <%= volunteer.name %> </option>
       <% end %>
       <% else %>
       <option value="" disabled selected>no volunteer yet</option>
       <% end %>
     </select>

     <label id="renamevolunteer" name="renamevolunteer" type = "text">Rename volunteer Title</label>
     <input type="text" name="renamevolunteer">

    <button type="submit" class="btn btn-info"name="button">Update A volunteer</button>
  </form>
  <br>
  <br>

  <form class="container form-group button" action="/volunteers/delete" method="delete" name="volunteer">
    <select id="volunteer_delete" name="volunteer_delete">
     <%if @volunteer != []%>
      <% @volunteers.each do |volunteer| %>
       <option value = "<%= volunteer.id %>" > <%= volunteer.name %> </option>
       <% end %>
       <% else %>
       <option value="" disabled selected>no volunteer yet</option>
       <% end %>
     </select>
    <button  type="submit" class="btn btn-info"name="button">Delete A volunteer</button>
  </form>
  <br>
  <br>

  <form class="container form-group button" action="/volunteers/projectassign" method="get" name="volunteer_assign">
    <h2>assign volunteer</h2>

    <select id="volunteer_assign" name="volunteer_assign">
     <%if @volunteer != []%>
      <% @volunteers.each do |volunteer| %>
       <option value = "<%= volunteer.id %>" > <%= volunteer.name %> </option>
       <% end %>
       <% else %>
       <option value="" disabled selected>no volunteer yet</option>
       <% end %>
     </select>

     <h2>to the project</h2>

     <select id="project_assign" name="project_assign">
      <%if @projects != []%>
       <% @projects.each do |project| %>
        <option value = "<%= project.id %>" > <%= project.title %> </option>
        <% end %>
        <% else %>
        <option value="" disabled selected>no projects yet</option>
        <% end %>
      </select>


    <button  type="submit" class="btn btn-info"name="button">Add volunteer to Project</button>
  </form>

  <br>
  <br>

  <button class="container" id="homepage" type="button" name="button">
    <a href="/">Return Home</a>
  </button>
</div>
